.action-buttons {
  &__content-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__button {
    background-color: var(--color-bg-secondary);
    border: none;
    box-shadow: none;
    height: var(--size-xxl);

    &:is(:hover, :focus) {
      background-color: var(--color-bg-primary);
    }
  }
}