.action-buttons {
  background-color: var(--color-bg-on-surface);

  &__content-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__button {
    background-color: var(--color-bg-on-surface);
    border: none;
    box-shadow: none;
    height: var(--size-xxl);

    &:is(:hover, :focus) {
      background-color: var(--color-bg-surface);
    }
  }
}