.note-view {
  border-radius: var(--radius-lg);
  background-color: var(--color-bg-on-surface);
  padding: var(--size-xxl);
  width: 800px;
  margin: 40px auto 0;

  &__title {
    margin-bottom: var(--size-xl) !important;
  }
  
  &__table {
    padding: var(--size-xl);
  }
}