:root {
  --color-dark-surface: #1F2125;
  --color-dark-on-surface: #292D31;
  --color-light-surface: #f8f8f8;
  --color-light-on-surface: white;
  --color-accent: #FD7014;

  --radius-lg: 8px;

  --size-xxs: 4px;
  --size-xs: 8px;
  --size-sm: 12px;
  --size-md: 16px;
  --size-lg: 24px;
  --size-xl: 32px;
  --size-xxl: 40px;
  --size-xxxl: 48px;

  background-color: var(--color-bg-surface);
}

:root[data-theme="dark"] {
  --color-bg-surface: var(--color-dark-surface);
  --color-bg-on-surface: var(--color-dark-on-surface);
  --color-text-primary: var(--color-light-surface);
  --color-text-secondary: var(--color-light-on-surface);
}

:root[data-theme="light"] {
  --color-bg-surface: var(--color-light-surface);
  --color-bg-on-surface: var(--color-light-on-surface);
  --color-text-primary: var(--color-dark-surface);
  --color-text-secondary: var(--color-dark-on-surface);
}

#root {
  height: 100%;
}

.theme-switcher-button.ant-btn-icon-only {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-btn-icon-only {
  display: flex;
  align-items: center;
  justify-content: center;
}